body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
}

.slider {
    width: 100%;
    height: 90vh;
    margin-top: 100px; /* 상단 바 높이만큼 margin-top 조정 */
    position: relative;
}

/* 슬라이드 이미지 스타일 */
.slick-slide img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.slick-current .slide-content {
    opacity: 1;
}

/* 이전/다음 버튼 스타일 */
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    background: transparent;
}

.slick-prev {
    left: 60px;
}

.slick-next {
    right: 60px;
}

.slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: white;
}

/* 추가 Slick 스타일 */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; /* iOS Safari */
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
